// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #fff;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-user {

  background-color: $background-color;

  .avatar {
    float: left;
    padding-left: 30px;

    img {
      -webkit-border-radius: 50em;
      -moz-border-radius: 50em;
      border-radius: 50em;
    }
  }

}
