// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #fff;
$foreground-color: #808080;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-user {

  background-color: $background-color;
  color: $foreground-color;
  font-family: "Cabin", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .avatar {
    float: left;
    margin-left: 30px;

    img {
      -webkit-border-radius: 50em;
      -moz-border-radius: 50em;
      border-radius: 50em;
    }
  }

  .profile {
    float: right;
    width: 310px;

    h1 {
      font-weight: 500;
    }

    .reputation {
      font-size: 3.2em;
      font-weight: 500;
      padding-top: 30px;
      padding-bottom: 34px;
    }

    ul {
      font-weight: 700;

      li:not(:last-child) {
        margin-right: 26px;
      }

      li {
        display: inline-block;

        .rank div {
          display: inline-block;
          margin-top: 1px;
          margin-right: 6px;
          width: 20px;
          height: 20px;

          -webkit-border-radius: 50em;
          -moz-border-radius: 50em;
          border-radius: 50em;
        }

        .label {
          vertical-align: top;
        }

        .gold {
          background-color: #FEC337;
        }

        .silver {
          background-color: #B8B8B8;
        }

        .bronze {
          background-color: #BF8753;
        }
      }
    }

  }

  .updated-at {
    color: $foreground-color;
    opacity: 0.8;
  }

}
