// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ffffff;
$text-color:        #000000;

// ----------------------------------------------------------------------------
// Widget-site styles
// ----------------------------------------------------------------------------
.widget-site {

  background-color: $background-color;
  color: $text-color;
  text-align: center;

  img {
    vertical-align: middle;
    width: 98%;
    margin-top: -20px;
  }

  h1 {
    margin: 0;
  }

}
