<% content_for :title do %>Badge Overflow<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/badgeoverflow_logo.png"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="time_since_last_badge" data-view="Countup" data-title="Since Last Badge" data-text="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="rarest_badge" data-view="Text" data-title="Rarest Badge" data-text="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="recent_badges" data-view="List" data-unordered="true" data-title="Recent Badges" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="unearned_badges" data-view="LargeText" data-title=""></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="user" data-view="User" data-title="User"></div>
    </li>
  </ul>
  <center>
    <div class="footer">
      <a href="http://thenounproject.com/noun/clock/#icon-No2785" target="_blank">Clock</a> designed by <a href="http://thenounproject.com/somerandomdude" target="_blank">P.J. Onori</a> from The Noun Project&nbsp;&nbsp;|&nbsp;&nbsp;Source code available on <a href="https://github.com/stephsharp/badgeoverflow" target="_blank">GitHub</a>
    </div>
  </center>
</div>
