<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/badgeoverflow_logo.png"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rarest_badge" data-view="Text" data-title="Rarest Badge" data-text="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="user" data-view="User" data-title="User"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="recent_badges" data-view="List" data-unordered="true" data-title="Recent Badges" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time_since_last_badge" data-view="Countup" data-title="Time Since Last Badge" data-text="" data-moreinfo=""></div>
    </li>
  </ul>
  <center><div class="footer"><a href="http://thenounproject.com/noun/clock/#icon-No2785" target="_blank">Clock</a> designed by <a href="http://thenounproject.com/somerandomdude" target="_blank">P.J. Onori</a> from The Noun Project</div></center>
</div>
