// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #808080;

$title-color:       rgba(255, 255, 255, 0.7);
$subheading-color:  rgba(255, 255, 255, 0.9);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;
  vertical-align: top !important;

  .title {
    color: $title-color;
    padding-bottom: 60px;
  }

  .heading {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 25px;
  }

  .subheading {
    color: $subheading-color;
    font-size: 22px;
    font-weight: 500;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

}
