// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #808080;

$title-color:       rgba(255, 255, 255, 0.7);
$p-color:           rgba(255, 255, 255, 0.9);

// ----------------------------------------------------------------------------
// Widget-countup styles
// ----------------------------------------------------------------------------
.widget-countup {

  background-color: $background-color;
  vertical-align: top !important;

  .clock {
    opacity: 0.15;
    position: absolute;
    top: 19%;
    left: 15%;
    width: 70%;
    height: 70%;
    background: url('/assets/clock.png') no-repeat center center;

    -webkit-background-size: contain;
       -moz-background-size: contain;
            background-size: contain;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .maincontainer {

    .title {
      color: $title-color;
      padding-bottom: 30px;
    }

    h3 {

      font-size: 40px;
      padding-bottom: 32px;

      .number {
        font-size: 80px;
        font-weight: 500;
      }

    }

    p {
      color: $p-color;
      font-weight: 500;
      font-size: 32px;
    }

  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

}
